extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block



	section.hero
		.hero__bg__mob
			img(src="i/bg-hero__1__mob.png")
		.hero__slider.swiper
			.swiper-wrapper
				.swiper-slide
					.hero__slide
						.section_in
							.hero__slide__content
								.hero__slide__info
									h2 Поставка двигателей для спецтехники
									.description
										.description__item
											.description__item__img
												img(src="i/speed.svg")
											.description__item__title Скорость
											.description__item__text Мы быстро расцениваем заявки и оперативно доставляем запчасти, чтобы сократить время простоя техники.

										.description__item
											.description__item__img
												img(src="i/security.svg")
											.description__item__title Надежность
											.description__item__text Мы не работаем с подделками и сомнительными производителями.

										.description__item
											.description__item__img
												img(src="i/honesty.svg")
											.description__item__title Честность
											.description__item__text Мы всегда честно сообщаем о сроках, стоимости и характеристиках запчастей.


								.hero__slide__img
									img.hero__slide__img__img(src="i/hero-img__1.png")
									img.hero__slide__img__shadow(src="i/hero-img__1__shadow.png")




				.swiper-slide
					.hero__slide
						.section_in
							.hero__slide__content
								.hero__slide__info
									h2 Поставка двигателей для спецтехники
									.description
										.description__item
											.description__item__img
												img(src="i/speed.svg")
											.description__item__title Скорость
											.description__item__text Мы быстро расцениваем заявки и оперативно доставляем запчасти, чтобы сократить время простоя техники.

										.description__item
											.description__item__img
												img(src="i/security.svg")
											.description__item__title Надежность
											.description__item__text Мы не работаем с подделками и сомнительными производителями.

										.description__item
											.description__item__img
												img(src="i/honesty.svg")
											.description__item__title Честность
											.description__item__text Мы всегда честно сообщаем о сроках, стоимости и характеристиках запчастей.


								.hero__slide__img
									img.hero__slide__img__img(src="i/hero-img__1.png")
									img.hero__slide__img__shadow(src="i/hero-img__1__shadow.png")





				.swiper-slide
					.hero__slide
						.section_in
							.hero__slide__content
								.hero__slide__info
									h2 Поставка двигателей для спецтехники
									.description
										.description__item
											.description__item__img
												img(src="i/speed.svg")
											.description__item__title Скорость
											.description__item__text Мы быстро расцениваем заявки и оперативно доставляем запчасти, чтобы сократить время простоя техники.

										.description__item
											.description__item__img
												img(src="i/security.svg")
											.description__item__title Надежность
											.description__item__text Мы не работаем с подделками и сомнительными производителями.

										.description__item
											.description__item__img
												img(src="i/honesty.svg")
											.description__item__title Честность
											.description__item__text Мы всегда честно сообщаем о сроках, стоимости и характеристиках запчастей.


								.hero__slide__img
									img.hero__slide__img__img(src="i/hero-img__1.png")
									img.hero__slide__img__shadow(src="i/hero-img__1__shadow.png")





				.swiper-slide
					.hero__slide
						.section_in
							.hero__slide__content
								.hero__slide__info
									h2 Поставка двигателей для спецтехники
									.description
										.description__item
											.description__item__img
												img(src="i/speed.svg")
											.description__item__title Скорость
											.description__item__text Мы быстро расцениваем заявки и оперативно доставляем запчасти, чтобы сократить время простоя техники.

										.description__item
											.description__item__img
												img(src="i/security.svg")
											.description__item__title Надежность
											.description__item__text Мы не работаем с подделками и сомнительными производителями.

										.description__item
											.description__item__img
												img(src="i/honesty.svg")
											.description__item__title Честность
											.description__item__text Мы всегда честно сообщаем о сроках, стоимости и характеристиках запчастей.


								.hero__slide__img
									img.hero__slide__img__img(src="i/hero-img__1.png")
									img.hero__slide__img__shadow(src="i/hero-img__1__shadow.png")





			.hero__custom-container
				.hero__slider-button-prev
					.img
						img(src="i/slider-arrow__left.svg")
				.hero__slider-pagination
				.hero__slider-button-next
					.img
						img(src="i/slider-arrow__right.svg")

	section.carousel
		.section_in
			.carousel__slider.swiper
				.swiper-wrapper
					.swiper-slide
						.section_in
							.carousel__slide
								.carousel__slide__content
									.carousel__slide__content__img-brand
										img(src="i/brands_hyundai.png" alt="hyundai-icon")

					.swiper-slide
						.section_in
							.carousel__slide
								.carousel__slide__content
									.carousel__slide__content__img-brand
										img(src="i/brands_caterpillar.png" alt="hyundai-icon")



					.swiper-slide
						.section_in
							.carousel__slide
								.carousel__slide__content
									.carousel__slide__content__img-brand
										img(src="i/brands_shanghai.png" alt="hyundai-icon")

					.swiper-slide
						.section_in
							.carousel__slide
								.carousel__slide__content
									.carousel__slide__content__img-brand
										img(src="i/brands_dongfanghong.png" alt="hyundai-icon")

					.swiper-slide
						.section_in
							.carousel__slide
								.carousel__slide__content
									.carousel__slide__content__img-brand
										img(src="i/brands_shantui.png" alt="hyundai-icon")





	section.card
		.section_in
			.card__title-block
				h2  Агрегаты
				.card__title-block__button
					a(href="#") Смотреть все
					.button__arrow-right
						img(src="i/slider-arrow__right.svg" alt="arrow-right")
			.card__item-block
				-for (let i = 0; i < 4; i++)
					+product-card(
						"i/card-img__1.png",
						"i/card-logo.svg",
						"в наличии",
						"Двигатель Shanghai (Pengpu) SC10E380Q5",
						"Shanghai",
						"573 100р"
					)
			.card__title-block__mob
				h2  Агрегаты

			.card__item-block__mob.swiper
				.swiper-wrapper
					-for (let i = 0; i < 4; i++)
						.swiper-slide
							.card__slide
								.card__slide__content
									+product-card(
										"i/card-img__1.png",
										"i/card-logo.svg",
										"в наличии",
										"Двигатель Shanghai (Pengpu) SC10E380Q5",
										"Shanghai",
										"573 100р"
									)
				.card__custom-container__mob
					.card__slider-button-prev__mob
						.img
							img(src="i/slider-arrow__left.svg")
					.card__slider-pagination__mob
					.card__slider-button-next__mob
						.img
							img(src="i/slider-arrow__right.svg")
			.card__button-block
				.card__button-block__button__mob
					a(href="#") Смотреть все
					.card__button-block__button__mob__arrow-right
						img(src="i/slider-arrow__right.svg" alt="arrow-right")


	section.about
		.section_in
			.about__img-1
				img(src='i/about__1.png')
			.about__img-2
				img(src='i/about__2.png')

			.about__overlay

			.about__description-block
				.block
					.about__description-block__title О компании
					.about__description-block__description
						p Gd ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
						p Kst, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu
			.about__info-blocks
				.about__info-blocks__block
					.about__info-blocks__block__img
						img(src='i/about__info-block__img.png')
					.about__info-blocks__block__title Sed ut perspiciatis
					.about__info-blocks__block__description ed ut perspiciatis unde omnis i natus error sit voluptatem accusantium doloremque laudantium, totam rem
				.about__info-blocks__block
					.about__info-blocks__block__img
						img(src='i/about__info-block__img.png')
					.about__info-blocks__block__title Sed ut perspiciatis
					.about__info-blocks__block__description ed ut perspiciatis unde omnis i natus error sit voluptatem accusantium doloremque laudantium, totam rem
				.about__info-blocks__block
					.about__info-blocks__block__img
						img(src='i/about__info-block__img.png')
					.about__info-blocks__block__title Sed ut perspiciatis
					.about__info-blocks__block__description ed ut perspiciatis unde omnis i natus error sit voluptatem accusantium doloremque laudantium, totam rem


	section.card
		.section_in
			.card__title-block
				h2 оригинальные запчасти
				.card__title-block__button
					a(href="#") Смотреть все
					.button__arrow-right
						img(src="i/slider-arrow__right.svg" alt="arrow-right")
			.card__item-block

				-for (let i = 0; i < 4; i++)
					+product-card(
						"i/card-img__1.png",
						"i/card-logo.svg",
						"в наличии",
						"Двигатель Shanghai (Pengpu) SC10E380Q5",
						"Shanghai",
						"573 100р"
					)
			.card__title-block__mob
				h2  запчасти

			.card__item-block__mob.swiper
				.swiper-wrapper
					-for (let i = 0; i < 4; i++)
						.swiper-slide
							.card__slide
								.card__slide__content
									+product-card(
										"i/card-img__1.png",
										"i/card-logo.svg",
										"в наличии",
										"Двигатель Shanghai (Pengpu) SC10E380Q5",
										"Shanghai",
										"573 100р"
									)

				.card__custom-container__mob
					.card__slider-button-prev__mob
						.img
							img(src="i/slider-arrow__left.svg")
					.card__slider-pagination__mob
					.card__slider-button-next__mob
						.img
							img(src="i/slider-arrow__right.svg")
			.card__button-block
				.card__button-block__button__mob
					a(href="#") Смотреть все
					.card__button-block__button__mob__arrow-right
						img(src="i/slider-arrow__right.svg" alt="arrow-right")



	section.form
		.section_in
			.form__wrapper
				.form__wrapper__text
					.form__title вопрос менеджеру
					.form__description Если у Вас есть сложности с выбором товара или другие вопросы, то Вы можете получить консультацию у наших менеджеров в рабочие часы компании.

				.form__group
					.block
						input.form__input(
							type="text"
							id="name"
							name="name"
							placeholder="Ваше имя"
						)

						input.form__input(
							type="tel"
							id="tel"
							name="tel"
							placeholder="Ваш телефон"
						)
					.form__group__checkbox
						button.form__button!='Отправить вопрос <span class="mobile_postfix">менеджеру</span>'

						input.form__group__checkbox__input(
							type="checkbox"
							id="agreement"
							name="agreement"
						)
						label.form__group__checkbox__label(for="agreement")
							.form__group__checkbox__icon
								.form__group__checkbox__icon__img
									img(src='i/checkbox.svg')
							span.form__group__checkbox__text Нажимая на кнопку, вы даете согласие на#{' '}
								a.form__group__checkbox__link(href='#') обработку персональных данных
			.form__overlay

	section.card
		.section_in
			.card__title-block
				h2 ремонт спецтехники
				.card__title-block__button
					a(href="#") Смотреть все
					.button__arrow-right
						img(src="i/slider-arrow__right.svg" alt="arrow-right")
			.card__item-block
				.item.item-special
					.item-special__logo
						img(src='i/card-logo__2.svg')
					.item-special__img
						img(src="i/special__1.png")
					.item-special__info
						.item-special__info__title Название спецтехники
						.item-special__info__button-block
							button Заказать

				.item.item-special
					.item-special__logo
						img(src='i/card-logo__2.svg')
					.item-special__img
						img(src="i/special__1.png")
					.item-special__info
						.item-special__info__title Название спецтехники
						.item-special__info__button-block
							button Заказать

				.item.item-special
					.item-special__logo
						img(src='i/card-logo__2.svg')
					.item-special__img
						img(src="i/special__1.png")
					.item-special__info
						.item-special__info__title Название спецтехники

						.item-special__info__button-block
							button Заказать

			.card__title-block__mob
				h2  ремонт спецтехники

			.card__item-block__mob.swiper
				.swiper-wrapper
					.swiper-slide
						.card__slide
							.card__slide__content
								.item.item-special
									.item-special__logo
										img(src='i/card-logo__2.svg')
									.item-special__img
										img(src="i/special__1.png")
									.item-special__info
										.item-special__info__title Название спецтехники

										.item-special__info__button-block
											button Заказать

					.swiper-slide
						.card__slide
							.card__slide__content
								.item.item-special
									.item-special__logo
										img(src='i/card-logo__2.svg')
									.item-special__img
										img(src="i/special__1.png")
									.item-special__info
										.item-special__info__title Название спецтехники

										.item-special__info__button-block
											button Заказать

					.swiper-slide
						.card__slide
							.card__slide__content
								.item.item-special
									.item-special__logo
										img(src='i/card-logo__2.svg')
									.item-special__img
										img(src="i/special__1.png")
									.item-special__info
										.item-special__info__title Название спецтехники

										.item-special__info__button-block
											button Заказать


				.card__custom-container__mob
					.card__slider-button-prev__mob
						.img
							img(src="i/slider-arrow__left.svg")
					.card__slider-pagination__mob
					.card__slider-button-next__mob
						.img
							img(src="i/slider-arrow__right.svg")
			.card__button-block
				.card__button-block__button__mob
					a(href="#") Смотреть все
					.card__button-block__button__mob__arrow-right
						img(src="i/slider-arrow__right.svg" alt="arrow-right")