mixin input(data)
	input(type=data.type ? type=data.type : type="text"  value=data.val ? value=data.val : value="" name=data.name id=data.id placeholder=data.place class=data.class class="global_input")
	if data.txt
		label(for=data.id)!=data.txt





mixin iconify(data)
	.gl__icon 
		span(class="iconify" data-icon=data.icon data-inline=data.inline ? data.inline : false data-width=data.width ? data.width : "2.4rem" data-height=data.height ? data.height : "2.4rem")

mixin customSelect(data)
	.custom-select(data-multiple=data.multiple)
		label(for=data.id)!= data.label
		input.custom-select-input(id=data.id type="text" readonly placeholder=data.placeholder value=data.multiple ? "Выбрано: 0" : "Выберите значение")
		ul.custom-select-dropdown
			each option in data.options
				li.custom-select-option(data-value=option)!= option
				
mixin about_block(data)
	section.about_blocks 
		.section_in
			.about_blocks_main
				.about_blocks_left
					.about_blocks_title
						h3 Нужна помощь в&nbsp;подборе квартиры?
					.about_blocks_descr
						p Команда профессионалов&nbsp;&mdash; наши сотрудники обладают высокими компетенциями в&nbsp;области инвестиций в&nbsp;турецкую недвижимость, смогут ответить на&nbsp;любой вопрос
					if data.btn === true
						.about_blocks__button
							a(href="") 
								.about_blocks_btn
									p Узнать больше
									.about_blocks_btn_icon 
										<svg data-v-5a61b564="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 16 16" style="color: currentcolor;" class="iconify iconify--bi"><path fill="currentColor" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8L4.646 2.354a.5.5 0 0 1 0-.708"></path></svg>
					else
						include ../blocks/form
				.about_blocks_right
					.about_blocks_right__image
						img(src="i/about_block/managers.png", alt="")

mixin 