mixin input(data)
	input(type=data.type ? type=data.type : type="text"  value=data.val ? value=data.val : value="" name=data.name id=data.id placeholder=data.place class=data.class class="global_input")
	if data.txt
		label(for=data.id)!=data.txt


mixin article(article)
	.card 
		.card_img
			a(href="#") 
				img(src=article.img)
		.card_content
			.article_title 
				a(href="#")
					h3=article.title 
			p=article.txt 
			.article__link
				a(href="#")  Uzzināt vairāk » 