mixin input(data)
	input(type=data.type ? type=data.type : type="text"  value=data.val ? value=data.val : value="" name=data.name id=data.id placeholder=data.place class=data.class class="global_input")
	if data.txt
		label(for=data.id)!=data.txt





mixin iconify(data)
	.gl__icon 
		span(class="iconify" data-icon=data.icon data-inline=data.inline ? data.inline : false data-width=data.width ? data.width : "2.4rem" data-height=data.height ? data.height : "2.4rem")

